<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    {{ map|safe }}

    <p>Click the button to get your coordinates.</p>

    <form id="lat_lon_form" action="" method="post">
      {% csrf_token %}
      {{ form }}
      <button onclick="getLocation()" name="button">Try it</button>
    </form>


    <p id="demo"></p>

    <script>
    var x = document.getElementById("demo");

    function getLocation() {
      if (navigator.geolocation) {
        navigator.geolocation.getCurrentPosition(showPosition);
      } else {
        x.innerHTML = "Geolocation is not supported by this browser.";
      }
    }

    function showPosition(position) {
      x.innerHTML = "Latitude: " + position.coords.latitude +
      "<br>Longitude: " + position.coords.longitude;

      document.getElementById('latitude_id').value = position.coords.latitude;
      document.getElementById('longitude_id').value = position.coords.longitude;

      document.getElementById("lat_lon_form").submit();

    }
    </script>
  </body>
</html>
